[submodule "vendor/gifenc"]
	path = vendor/gifenc
	url = https://github.com/lecram/gifenc
[submodule "nesper"]
	path = nesper
	url = https://github.com/khogeland/nesper/
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
